html {
    background-image: url(kepek/hatter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: grid;
    grid-template-areas: "h h"
                        "n n"
                        "as a"
                        "f f";
    box-sizing: border-box;
    width: 1000px;
    max-width: 80%;
    margin: auto;
    background-color: rgb(255, 255, 230);
}

header {
    grid-area: h;
    background-image: url(kepek/fejlec.jpg);
    opacity: 0,8;
    height: 550px;
    color: red;
    font-weight: bold;
    font-family: cursive;
}

header h1 {
    margin-top: 60px;
    text-align: center;
}

nav {
    grid-area: n;
    background-color: red;
    height: 50px;

}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav ul li {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    list-style-type: none;
    padding: 5px;
    text-align: center;
}

nav ul li:hover {
    background-color: green;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;

}

aside {
    grid-area: as;
    display: grid;
    grid-template-columns: 1fr;
}

aside img {
    width: 100%;

    height: auto;
    border: 1px solid red;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

article {
    grid-area: a;
    color: #ff1a1a;
    margin: 10px;
    text-align: justify;
}

article p {
    font-size: 10px;
}

article h3 {
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

article img {
    float: right;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

footer {
    grid-area: f;
    text-align: center;
    background-color: red;
    color: white;
}

@media (max-width: 700px) {

    main {
        display: grid;
        grid-template-areas: "h h"
                            "n n"
                            "a a"
                            "as as"
                            "f f";
    }

    aside img {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}